<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Yet Another Blog Page</title>
</head>
<body>
<nav th:fragment="header" class="navbar navbar-dark navbar-expand-sm bg-dark">

    <a class="navbar-brand" href="#">Yet Another Blog Page</a>

    <div class="navbar-nav ml-auto">
        <div th:fragment="logout" class="navbar-text logout" sec:authorize="isAuthenticated()"
             style="color:darkgray;">
            Logged in as: <span sec:authentication="name"></span>
        </div>

        <div class="nav-item">
            <a class="nav-link" href="/logout" th:action="@{/logout}" sec:authorize="isAuthenticated()">Logout</a>
        </div>
    </div>

</nav>

</body>
</html>